<?xml version="1.0"?>
<launch>
	<arg name="namespace" default="" />
	<arg name="bag_name" default="1" />

	<!-- rosparams -->
	<param name="camera_prefix" type="string" value="/camera" />
	<param name="tracker_prefix" type="string" value="/tracker_mbt" />
	<!-- Load CameraInfo yaml file -->
	<rosparam command="load" file="$(find predator)/calibrationdata/ost.yaml"/>

	<!-- <node name="tello" pkg="dronet_tello" type="tello.py" output="screen"/> -->
	<node name="camera" pkg="dronet_tello" type="camera.py" output="screen">
		<env name="ROS_NAMESPACE" value="/camera"/>
		<!-- <remap from="/image_raw" to="/image_mono"/> -->
		<remap from="/image_raw" to="/camera/image_raw"/>
		<remap from="/camera_info" to="/camera/camera_info"/>
		<param name="camera_info_url" value="package://visp_auto_tracker/models/calibration.ini" />
		<param name="frame_id" value="/map" /> -->
	</node>

	<!-- image_proc subscribes to image_mono, camera_info, publishes to image_rect -->
	<node pkg="image_proc" type="image_proc" name="image_proc" output="screen">
		<env name="ROS_NAMESPACE" value="/camera"/>
		<!-- <env name="ROS_NAMESPACE" value="/camera"/> -->
	</node>

	<!-- <node name="camera_info" pkg="predator" type="camera_info_publisher.py" output="screen">
		 <env name="ROS_NAMESPACE" value="/camera"/>
	</node> -->

	<!-- Launch the tracking node -->
	<node pkg="visp_auto_tracker" type="visp_auto_tracker" name="visp_auto_tracker" output="screen">
		<param name="model_path" value="$(find visp_auto_tracker)/models" />
		<param name="model_name" value="pattern" />
		<param name="debug_display" value="True" />
		<!-- param name="code_message" value="Ver1" / -->
		<remap from="/visp_auto_tracker/camera_info" to="/camera/camera_info"/>
		<remap from="/visp_auto_tracker/image_raw" to="/camera/image_raw"/>
	</node>

	<!-- Launch the tracking node -->
	<!-- <node name="visp_auto_tracker" pkg="visp_auto_tracker" type="visp_auto_tracker">
		<env name="ROS_NAMESPACE" value="/camera"/>
		<param name="model_path" value="$(find visp_auto_tracker)/models" />
		<param name="model_name" value="pattern" />
		<param name="debug_display" value="True" />
		<remap from="/visp_auto_tracker/camera_info" to="/camera_info"/>
		<remap from="/visp_auto_tracker/image_raw" to="/camera/image_raw"/>
	</node> -->

	<!-- Launch the viewer -->
	<!-- <node pkg="visp_tracker" type="visp_tracker_viewer" name="tracker_mbt_viewer" output="screen"> 
		<env name="ROS_NAMESPACE" value="/camera"/>
		<param name="frame_size" value="0.1" />
		<remap from="/image_rect" to="/camera/image_rect"/>
		<remap from="/camera_info" to="/camera/camera_info"/>
		<remap from="/object_position_covariance" to="/visp_auto_tracker/object_position_covariance"/>
		<remap from="/object_position" to="/visp_auto_tracker/object_position"/>
	</node> -->

	<!-- <node pkg="rqt_graph" type="rqt_graph" name="rqt_graph"/> -->
	<!-- <node pkg="rosbag" type="record" name="rosbag_record" args="record -o $(find dronet_tello)/../../imag_recog_test /rosout /velocity /flight_data /state /user_input /obstacle_detector /keys_enabled /obstacle_dyn /vicon/TELLO/TELLO /vicon/OBSTACLE/OBSTACLE /mission_state /machine_state /is_user1_watching_drone  /is_user2_watching_drone /vicon/PLAYER1/PLAYER1 /vicon/PLAYER2/PLAYER2 /distance_to_user1 /distance_to_user2 /distance_to_obstacle /key_state /image_raw /object_position" /> -->

</launch>


<!--
  <param name="/camera_prefix" type="string" value="/" />
-->
  <!-- Launch the firewire camera acquisition node -->
  <!--
  <node pkg="camera1394" type="camera1394_node" name="my_camera1394_node" args="_video_mode:=640x480_rgb8" >
    <param name="camera_info_url" value="package://visp_auto_tracker/models/calibration.ini" />
    <param name="frame_id" value="/map" />
  </node>
-->
  <!-- Launch the viewer -->
  <!--
  <node pkg="visp_tracker" type="visp_tracker_viewer" name="tracker_mbt_viewer" output="screen">
    <param name="frame_size" value="0.1" />
    <remap from="/image_rect" to="/camera/image_raw"/>
    <remap from="/camera_info" to="/camera/camera_info"/>
    <remap from="/object_position_covariance" to="/visp_auto_tracker/object_position_covariance"/>
    <remap from="/object_position" to="/visp_auto_tracker/object_position"/>
  </node>
-->

