<?xml version="1.0"?>
<launch>
	<arg name="namespace" default="" />
	<arg name="bag_name" default="1" />

	<!-- rosparams -->
	<param name="camera_prefix" type="string" value="/camera" />
	<param name="tracker_prefix" type="string" value="/tracker_mbt" />
	<!-- Load CameraInfo yaml file -->
	<rosparam command="load" file="$(find predator)/calibrationdata/ost.yaml"/>
  
	<node name="tello" pkg="dronet_tello" type="tello.py" output="screen"/>
	<node name="sweep" pkg="predator" type="sweep_for_target.py" output="screen" args="$(arg x) $(arg y) $(arg z)"/> 

	<node name="camera" pkg="dronet_tello" type="camera.py">
		<env name="ROS_NAMESPACE" value="/camera"/>
		<!-- <remap from="/image_raw" to="/image_mono"/> -->
		<remap from="/image_raw" to="/camera/image_raw"/>
		<remap from="/camera_info" to="/camera/camera_info"/>
		<param name="camera_info_url" value="package://visp_auto_tracker/models/calibration.ini" />
		<param name="frame_id" value="/map" /> -->
	</node>

	<!-- image_proc subscribes to image_mono, camera_info, publishes to image_rect -->
	<node pkg="image_proc" type="image_proc" name="image_proc" output="screen">
		<env name="ROS_NAMESPACE" value="/camera"/>
		<!-- <env name="ROS_NAMESPACE" value="/camera"/> -->
	</node>

	<!-- <node name="camera_info" pkg="predator" type="camera_info_publisher.py" output="screen">
		 <env name="ROS_NAMESPACE" value="/camera"/>
	</node> -->

	<!-- Launch the tracking node -->
	<node pkg="visp_auto_tracker" type="visp_auto_tracker" name="visp_auto_tracker" output="screen">
		<param name="model_path" value="$(find visp_auto_tracker)/models" />
		<param name="model_name" value="pattern" />
		<param name="debug_display" value="True" />
		<!-- param name="code_message" value="Ver1" / -->

		<remap from="/visp_auto_tracker/camera_info" to="/camera/camera_info"/>
		<remap from="/visp_auto_tracker/image_raw" to="/camera/image_raw"/>
	</node>

	<!--<node pkg="rqt_graph" type="rqt_graph" name="rqt_graph"/>-->
	<node pkg="rosbag" type="record" name="rosbag_record" args="record -o $(find dronet_tello)/../../sweep_for_target /rosout /velocity /flight_data /state /user_input /vicon/TELLO/TELLO /mission_state /machine_state /warning_state /command_state /visp_auto_tracker/status /visp_auto_tracker/object_position /kill" />

</launch>

