<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="" />
  <arg name="bag_name" default="1" />
  

  <node name="tello" pkg="dronet_tello" type="tello.py" output="screen"/>
    <!--<node name="tello_camera" pkg="dronet_tello" type="camera.py"/>

  <node name="tello_key_vel" pkg="dronet_tello" type="key_vel.py" args="$(arg no_input)"/> -->
  
  <node name="tello_gotogoal" pkg="dronet_tello" type="gotogoal_omni_land.py" output="screen"/>
  
  <node pkg="rosbag" type="record" name="rosbag_record" args="record -o $(find dronet_tello)/../../dronet /rosout /velocity /flight_data /distance_to_goal">
  </node>

  <node name="plot"
        pkg="rqt_plot"
        type="rqt_plot"
        args="/velocity /distance_to_goal /p /i /d" />

</launch>

